// $primary: rgb(233, 4, 30);
$primary: rgb(233, 4, 172);
$info: rgb(1, 0, 53);

$btn-padding-x: 1.5rem;
$btn-border-radius: 25px;


$box-shadow :0 0 5px black;
$focus-ring-color: rgba(black, 50%);
$focus-ring-width: .10rem;
$input-focus-border-color : black;